$colors: (
    primary:#FE6102,
    secondary:#0F1128,
    third:#eee,
    fourth:#679ADC,
    fifth:#3DB166
);





@import url(http://fonts.googleapis.com/css?family=Raleway);
body{
    font-size:12px;
    // background:#333;
    background:whitesmoke;
    
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.header-main{
    .logo{
        max-width: 4em;
    }
    
    // .jumbo{
    //     background: url("../img/1.jpg");
    // background-size:cover;
    // background-position: 0 -100;
    // min-height:70%;
    // background-repeat: no-repeat;
    // position: relative;
    // overflow: hidden;
    // z-index: -1;
    // }
    .menum{
        background: #fff;
        // z-index: 6;

       
        a{
    
            color:#000 !important;
            
        }
        .nav-item {
            font-family: Century Gothic;
            margin: 0 auto;
            padding: 1em 2em;
            // text-align: center;
        }
        .nav-item a {
            color: #000;
            text-decoration: none;
            font: 1.4em Century Gothic;
            margin: 0px 10px;
            // padding: 10px 10px;
            position: relative;
            z-index: 0;
            white-space: nowrap;
        }
        // .topBotomBordersOut{
        //     // margin-left:10em;
        // }
        
        
        /* Top & Bottom Borders Out */
        .topBotomBordersOut .nav-item > a:before, .topBotomBordersOut .nav-item > a:after {
            position: absolute;
            left: 0px;
            width: 100%;
            height: 2px;
            background: #000;
            content:"";
            opacity: 0;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }
        .topBotomBordersOut a:before {
            top: 0px;
            transform: translateY(10px);
        }
        .topBotomBordersOut a:after {
            bottom: 0px;
            transform: translateY(-10px);
        }
        .topBotomBordersOut a:hover:before, .topBotomBordersOut a:hover:after {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    
    
    
}
.connector{
    // height:80px;
    // width:60%;
    max-width: 1200px;
    margin:0 auto;
    margin-top:-7em;
    background:#fff;
    border-radius: 5px;
    border:1px solid fade-out($color: #000000, $amount: 0.8);
    box-shadow: 1px 1px 7px 3px fade-out($color: #000000, $amount: 0.7) ;
    // position: relative;
    z-index: 1;
    .element{
        // position:absolute;
        // height:80px;
        // line-height: 80px;
        text-align: center;
        text-transform: uppercase;
        font-size:1.2em;
        color:map-get($map: $colors, $key: third);
        padding:2em;
        
       
            // float: left;
            img{
                max-width: 4em;
            }
            .title{
                // padding-top:1em;
                line-height: 2.5em;
                color:map-get($map: $colors, $key: secondary)
            }
        
        
    }

    // .element:first-child{
    //     border:none;
    //     background-color: fade-out( map-get($colors,primary), 0);
    // }
    // .element:nth-child(2){
    //     background-color: fade-out( map-get($colors,secondary), 0);
    // }
    // .element:nth-child(3){
    //     background-color: fade-out( map-get($colors,primary), 0);
    // }
    // .element:last-child{
    //     background-color:fade-out($color: map-get($colors,secondary), $amount: 0)
    // }
   .admission{
       padding:0;
       & > .col-md-6{
           padding:0
       }
       .admission-txt{
           padding:1em 2em 1.2em 2em;
           h2.title{
               font-size:2em;
           }
           p.text{
               font-size: 1.2em;
           }
           .btn.btn-third{
               background-color: map-get($map: $colors, $key: fifth);
               color:white;
               padding:0.5em;
           }
       }

   }
    
}
.content{
    max-width: 1200px;
    margin:0 auto;
}
.about{
    background: url("../img/3.jpg");
    background-size: cover;
    min-height:25em;
    background-position-y: 15%;
    margin-top:5em;
    h2{
        color: map-get($map: $colors, $key: third);
        text-align: center;
        .img-fluid{
            max-width: 5em;
            margin-top:0.5em
        }
    }
    .overlay{
        background-color: fade-out($color: map-get($colors,secondary), $amount: 0.2);
        min-height:25em;
    }
    .content{
        padding:5em;
        padding-top:8em;
        color: map-get($map: $colors, $key: third);
        .top-text{
            font-size:1.8em;
            line-height: 1.3em;
        }
        .sub-text{
            margin-top:1em;
            font-size:1.3em;
        }
    }
}
.bhm{
    margin-top:3em;
    margin-bottom:3em;
    .row{
        .col-md-6{
            padding:0
        }
        .left{
            background:white;
            padding:3em 5em;
            .title{
                font-size:3em;
            }
            .text{
                font-size:1.5em;
            }
        }
    }
}

.employed{
    margin-top:3em;
    // margin-bottom:3em;
    .content{
        .item{
            // border-radius: 15px;
            box-shadow: 1px 1px 5px fade-out($color: #000000, $amount: 0.7) ;
            margin-bottom:3em;
            .caption{
                background:white;
                padding:1em 2em;
                .title{
                    font-size:1.5em;
                    font-weight: 500;
                    margin-bottom:0.2em;
                }
                .text{
                    font-size:1.3em;
                }
            }
        }
    }
}
.testimonial{
    .content{
        .item{
            .testimony{
                max-width: 1000px;
                margin: 0 auto;
                text-align: center;
                // padding:1em 10em 0em;
                
                font-size: 1.6em;
                font-style: italic;
                blockquote{
                    border-left-color: map-get($map: $colors, $key: fifth);
                    margin-bottom:0;
                }
            }
            .testimony-user{
                text-align: center;
                
                .name{
                    font-size:1.4em;
                    font-weight: 500;
                }
                .position{
                    font-size:1.2em;
                }
                
            }
            .testimony-img{
                max-width: 5em;
                margin: 0 auto;
                margin-top: 1em;
                img{
                border-radius: 50px;

                }
            }
        }
    }
}
footer{
    margin-top:20px
}
.footer-top{
    background:#181818;
    #footer-owl{
        .item{
            padding:2em 4em;
            
        }
    }
}
// Carousel
#owl-test{
    z-index: -1;
    margin-top:-10%;
    // max-height:600px;
    overflow:hidden
}
#owl-test .owl-item img{
    display: flex;
    width: 100%;
    height: auto;
}



.fixed-button {
    background-color: map-get($map: $colors, $key: fifth);
    color: #FFFFFF;
    border: none;
    outline: none;
    position: fixed;
    bottom: 0px;
    right: 15px;
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
    border-radius: 30px;
    box-shadow: 1px 1px 3px 1px #888888;
    font-size:2em;
  }
  
 #owl-test{
     max-height: 800px!important;
 }



button.owl-prev:hover,button.owl-next:hover, button:focus{
    color: inherit;
    background:transparent;
    outline: transparent;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: inherit;
    text-decoration: none;
    text-shadow: 1px 1px 5px white;
}
.owl-prev {
    width: 30px;
    height: 80px;
    position: absolute;
    top: 40%;
    margin-left: -20px;
    display: block !important;
    border:0px solid black;
}

.owl-next {
    width: 30px;
    height: 80px;
    position: absolute;
    top: 40%;
    right: -25px;
    display: block !important;
    border:0px solid black;
}
.owl-prev i, .owl-next i {transform : scale(1,6); color: #ccc;}


.dropdown-toggle::after{
    margin-left:0;
    border-top:0;
}

.dropdown-item:focus, .dropdown-item:hover{
    background:none;
}

button:focus{
    outline-color:transparent!important;
    box-shadow:none;
}
.navbar-toggler:focus{
    box-shadow:none;
}

.dropdown-item{
    font-size: .9em!important;
}





.gallery{
    max-width: 1200px;
    margin:0 auto;

    
}
.parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .overlay{
        background: fade-out($color: darken(map-get($colors,secondary),30), $amount: 0.1);
        .title{
            font-size:4em;
            color:map-get($map: $colors, $key: third);
            text-align: center;
            padding:0.8em 1em 0em 1em;
            text-transform: uppercase;
        }
        .breadcrumbs{
            text-align: center;
            .breadcrumb{
                display:inline-flex;
                margin:0 auto;
                padding-bottom:3em;
            }
            a{
                color:white;
            }
        }
    }
}

.gal {
	
	
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
	  
	
}	
.gal img{ width: 100%; padding: 7px 0;}
@media (max-width: 500px) {
		
    .gal {

        
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
        
        
    }
		
}



.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
  
  .modal-dialog {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  
  .modal-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid #3c7dcf;
    border-radius: 0;
    box-shadow: none;
    #imagepreview{
        height:100%;
        width: auto;
    }
  }
  
  .modal-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    padding: 10px;
    background: map-get($map: $colors, $key: fifth);
    border: 0;
  }
  
  .modal-title {
    font-weight: 300;
    font-size: 2em;
    color: #fff;
    line-height: 30px;
  }
  
  .modal-body {
    position: absolute;
    top: 50px;
    bottom: 60px;
    width: 100%;
    font-weight: 300;
    overflow: auto;
    text-align: center;
  }
  
  .modal-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 60px;
    padding: 10px;
    background: #f1f3f5;
  }
  



.contact-form{
    margin-top:2em;
    .form-group{
        margin-bottom:15px;
        .form-label{
            margin-bottom: 0;
        }
    }
    .contact-submit{
        text-align: center;
        #send{
            background: map-get($map: $colors, $key: fifth);
            color:white;
        }
    }
}

.contact-page{
    margin-bottom:20px;
    .quick-links{
        margin-top:3em;
        text-align: center;
        a{
            color: map-get($map: $colors, $key: secondary);
        }
        .col-md-4{
            
            .item{
                background: white;
                padding:2em 1em;
                .fa{
                    font-size: 3em;
                    margin-bottom:1em;
                }
                .sub{
                    margin-bottom:5px
                }
            }
            .item:hover{
                box-shadow: 1px 3px 7px fade-out($color: map-get($colors,secondary), $amount: 0.8);
                cursor: pointer;
            }
        }
    }
}

.blog{
    .card{
        margin-bottom:20px;
        .col-sm-3{
            padding:0;
        }
    }
}

.topbar{
    background:black;
    .email ,.contact{
        float: right;
        padding:4px;
        
        margin-right:2em;
        a{
            font-size:1.2em;
            color:white;
            .topbar-icon{
                margin-right:1em;
            }
        }
    }
    
}
.socials .facebook{
    background-color:#3b5998!important;
}
.socials .youtube{
    background-color:#c4302b!important;
}
.socials .twitter{
    background-color:#1DA1F2!important;
}
.socials .pinterest{
    background-color:#c8232c!important;
}
.socials .instagram{
    background-color:#c13584!important;
}