@import url(http://fonts.googleapis.com/css?family=Raleway);
body {
  font-size: 12px;
  background: whitesmoke;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.header-main .logo {
  max-width: 4em;
}

.header-main .menum {
  background: #fff;
  /* Top & Bottom Borders Out */
}

.header-main .menum a {
  color: #000 !important;
}

.header-main .menum .nav-item {
  font-family: Century Gothic;
  margin: 0 auto;
  padding: 1em 2em;
}

.header-main .menum .nav-item a {
  color: #000;
  text-decoration: none;
  font: 1.4em Century Gothic;
  margin: 0px 10px;
  position: relative;
  z-index: 0;
  white-space: nowrap;
}

.header-main .menum .topBotomBordersOut .nav-item > a:before, .header-main .menum .topBotomBordersOut .nav-item > a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #000;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-main .menum .topBotomBordersOut a:before {
  top: 0px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.header-main .menum .topBotomBordersOut a:after {
  bottom: 0px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.header-main .menum .topBotomBordersOut a:hover:before, .header-main .menum .topBotomBordersOut a:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.connector {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: -7em;
  background: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.connector .element {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  color: #eee;
  padding: 2em;
}

.connector .element img {
  max-width: 4em;
}

.connector .element .title {
  line-height: 2.5em;
  color: #0F1128;
}

.connector .admission {
  padding: 0;
}

.connector .admission > .col-md-6 {
  padding: 0;
}

.connector .admission .admission-txt {
  padding: 1em 2em 1.2em 2em;
}

.connector .admission .admission-txt h2.title {
  font-size: 2em;
}

.connector .admission .admission-txt p.text {
  font-size: 1.2em;
}

.connector .admission .admission-txt .btn.btn-third {
  background-color: #3DB166;
  color: white;
  padding: 0.5em;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.about {
  background: url("../img/3.jpg");
  background-size: cover;
  min-height: 25em;
  background-position-y: 15%;
  margin-top: 5em;
}

.about h2 {
  color: #eee;
  text-align: center;
}

.about h2 .img-fluid {
  max-width: 5em;
  margin-top: 0.5em;
}

.about .overlay {
  background-color: rgba(15, 17, 40, 0.8);
  min-height: 25em;
}

.about .content {
  padding: 5em;
  padding-top: 8em;
  color: #eee;
}

.about .content .top-text {
  font-size: 1.8em;
  line-height: 1.3em;
}

.about .content .sub-text {
  margin-top: 1em;
  font-size: 1.3em;
}

.bhm {
  margin-top: 3em;
  margin-bottom: 3em;
}

.bhm .row .col-md-6 {
  padding: 0;
}

.bhm .row .left {
  background: white;
  padding: 3em 5em;
}

.bhm .row .left .title {
  font-size: 3em;
}

.bhm .row .left .text {
  font-size: 1.5em;
}

.employed {
  margin-top: 3em;
}

.employed .content .item {
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 3em;
}

.employed .content .item .caption {
  background: white;
  padding: 1em 2em;
}

.employed .content .item .caption .title {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 0.2em;
}

.employed .content .item .caption .text {
  font-size: 1.3em;
}

.testimonial .content .item .testimony {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.6em;
  font-style: italic;
}

.testimonial .content .item .testimony blockquote {
  border-left-color: #3DB166;
  margin-bottom: 0;
}

.testimonial .content .item .testimony-user {
  text-align: center;
}

.testimonial .content .item .testimony-user .name {
  font-size: 1.4em;
  font-weight: 500;
}

.testimonial .content .item .testimony-user .position {
  font-size: 1.2em;
}

.testimonial .content .item .testimony-img {
  max-width: 5em;
  margin: 0 auto;
  margin-top: 1em;
}

.testimonial .content .item .testimony-img img {
  border-radius: 50px;
}

footer {
  margin-top: 20px;
}

.footer-top {
  background: #181818;
}

.footer-top #footer-owl .item {
  padding: 2em 4em;
}

#owl-test {
  z-index: -1;
  margin-top: -10%;
  overflow: hidden;
}

#owl-test .owl-item img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
}

.fixed-button {
  background-color: #3DB166;
  color: #FFFFFF;
  border: none;
  outline: none;
  position: fixed;
  bottom: 0px;
  right: 15px;
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
  border-radius: 30px;
  -webkit-box-shadow: 1px 1px 3px 1px #888888;
          box-shadow: 1px 1px 3px 1px #888888;
  font-size: 2em;
}

#owl-test {
  max-height: 800px !important;
}

button.owl-prev:hover, button.owl-next:hover, button:focus {
  color: inherit;
  background: transparent;
  outline: transparent;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent;
  color: inherit;
  text-decoration: none;
  text-shadow: 1px 1px 5px white;
}

.owl-prev {
  width: 30px;
  height: 80px;
  position: absolute;
  top: 40%;
  margin-left: -20px;
  display: block !important;
  border: 0px solid black;
}

.owl-next {
  width: 30px;
  height: 80px;
  position: absolute;
  top: 40%;
  right: -25px;
  display: block !important;
  border: 0px solid black;
}

.owl-prev i, .owl-next i {
  -webkit-transform: scale(1, 6);
          transform: scale(1, 6);
  color: #ccc;
}

.dropdown-toggle::after {
  margin-left: 0;
  border-top: 0;
}

.dropdown-item:focus, .dropdown-item:hover {
  background: none;
}

button:focus {
  outline-color: transparent !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.dropdown-item {
  font-size: 0.9em !important;
}

.gallery {
  max-width: 1200px;
  margin: 0 auto;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax .overlay {
  background: rgba(0, 0, 0, 0.9);
}

.parallax .overlay .title {
  font-size: 4em;
  color: #eee;
  text-align: center;
  padding: 0.8em 1em 0em 1em;
  text-transform: uppercase;
}

.parallax .overlay .breadcrumbs {
  text-align: center;
}

.parallax .overlay .breadcrumbs .breadcrumb {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 auto;
  padding-bottom: 3em;
}

.parallax .overlay .breadcrumbs a {
  color: white;
}

.gal {
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  /* Firefox */
  column-count: 3;
}

.gal img {
  width: 100%;
  padding: 7px 0;
}

@media (max-width: 500px) {
  .gal {
    -webkit-column-count: 1;
    /* Chrome, Safari, Opera */
    /* Firefox */
    column-count: 1;
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.modal-dialog {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid #3c7dcf;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal-content #imagepreview {
  height: 100%;
  width: auto;
}

.modal-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px;
  background: #3DB166;
  border: 0;
}

.modal-title {
  font-weight: 300;
  font-size: 2em;
  color: #fff;
  line-height: 30px;
}

.modal-body {
  position: absolute;
  top: 50px;
  bottom: 60px;
  width: 100%;
  font-weight: 300;
  overflow: auto;
  text-align: center;
}

.modal-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  padding: 10px;
  background: #f1f3f5;
}

.contact-form {
  margin-top: 2em;
}

.contact-form .form-group {
  margin-bottom: 15px;
}

.contact-form .form-group .form-label {
  margin-bottom: 0;
}

.contact-form .contact-submit {
  text-align: center;
}

.contact-form .contact-submit #send {
  background: #3DB166;
  color: white;
}

.contact-page {
  margin-bottom: 20px;
}

.contact-page .quick-links {
  margin-top: 3em;
  text-align: center;
}

.contact-page .quick-links a {
  color: #0F1128;
}

.contact-page .quick-links .col-md-4 .item {
  background: white;
  padding: 2em 1em;
}

.contact-page .quick-links .col-md-4 .item .fa {
  font-size: 3em;
  margin-bottom: 1em;
}

.contact-page .quick-links .col-md-4 .item .sub {
  margin-bottom: 5px;
}

.contact-page .quick-links .col-md-4 .item:hover {
  -webkit-box-shadow: 1px 3px 7px rgba(15, 17, 40, 0.2);
          box-shadow: 1px 3px 7px rgba(15, 17, 40, 0.2);
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */