$colors: (
    primary:#FE6102,
    secondary:#0F1128,
    third:#eee
);





@import url(http://fonts.googleapis.com/css?family=Raleway);
body{
    font-size:12px;
    // background:#333;
    
}

.header-main{
    
    
    // .jumbo{
    //     background: url("../img/1.jpg");
    // background-size:cover;
    // background-position: 0 -100;
    // min-height:70%;
    // background-repeat: no-repeat;
    // position: relative;
    // overflow: hidden;
    // z-index: -1;
    // }
    .menum{
        background: #fff;
        // z-index: 6;

       
        a{
    
            color:#000 !important;
            
        }
        .nav-item {
            font-family: Century Gothic;
            margin: 0 auto;
            padding: 1em 2em;
            text-align: center;
        }
        .nav-item a {
            color: #000;
            text-decoration: none;
            font: 1.2em Century Gothic;
            margin: 0px 10px;
            // padding: 10px 10px;
            position: relative;
            z-index: 0;
        }
        
        
        /* Top & Bottom Borders Out */
        .topBotomBordersOut a:before, .topBotomBordersOut a:after {
            position: absolute;
            left: 0px;
            width: 100%;
            height: 2px;
            background: #000;
            content:"";
            opacity: 0;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }
        .topBotomBordersOut a:before {
            top: 0px;
            transform: translateY(10px);
        }
        .topBotomBordersOut a:after {
            bottom: 0px;
            transform: translateY(-10px);
        }
        .topBotomBordersOut a:hover:before, .topBotomBordersOut a:hover:after {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    
    
    
}
.connector{
    height:80px;
    width:60%;
    margin:0 auto;
    margin-top:-40px;
    background:#fff;
    border-radius: 5px;
    border:1px solid fade-out($color: #000000, $amount: 0.8);
    box-shadow: 1px 1px 5px 1px fade-out($color: #000000, $amount: 0.7) ;
    // position: relative;
    .element{
        // position:absolute;
        // height:80px;
        line-height: 80px;
        text-align: center;
        text-transform: uppercase;
        font-size:1.5em;
        color:map-get($map: $colors, $key: third)

        
    }
    .element:first-child{
        border:none;
        background-color: fade-out( map-get($colors,primary), 0);
    }
    .element:nth-child(2){
        background-color: fade-out( map-get($colors,secondary), 0);
    }
    .element:nth-child(3){
        background-color: fade-out( map-get($colors,primary), 0);
    }
    .element:last-child{
        background-color:fade-out($color: map-get($colors,secondary), $amount: 0)
    }
   
    
}



// Carousel
#owl-test{
    z-index: -1;
    margin-top:-10%;
    max-height:600px;
    overflow:hidden
}
#owl-test .owl-item img{
    display: flex;
    width: 100%;
    height: auto;
}

